body{
  background-color:deepskyblue;
}
main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 50px;
  border-bottom: lightcyan 50px solid;
  border-radius: 2px;
}